# supabase secrets
supabase_url =
supabase_key =

# database tables
recipe_table =
recipe_favourite_table =
user_table =
user_data_table =
follow_table =
prefered_ingredients_table =
prefered_recipe_type_table =
refrigerator_table =
ingredient_table =
ingredients_included_table =
diet_type_table =
diet_type_included_table =
vitamin_table =
vitamins_included_table =

# s3 images
bucket_name =

# authentication
secret_key =
algorithm =
access_token_expire =

# google oauth2 secrets
GOOGLE_CLIENT_ID =
GOOGLE_CLIENT_SECRET =
GOOGLE_REDIRECT_URI =
GOOGLE_AUTH_ENDPOINT =
GOOGLE_TOKEN_ENDPOINT =
GOOGLE_USERINFO_ENDPOINT =